.banner {
  position: relative;
  height: 70vh;
}

.bannerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.bannerOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.bannerText {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.bannerText h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .bannerText h1 {
    font-size: 48px;
  }
}

.greenDiv {
  position: absolute;
  display: flex;
  top: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #11bb67;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 1.2em;
  min-width: fit-content;
  border-radius: 4px;
}

.greenDiv a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 5px;
}

.greenDiv .breadcrumb-separator {
  margin: 0 5px;
}

.greenDiv .current-page {
  color: #f0f0f0;
}

@media (max-width: 768px) {
  .greenDiv {
    top: auto;
  }
}
.videoBlock {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0;
}

.videoBtn .btn {
  color: rgb(230, 236, 232);
  padding: 20px 40px;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 500;
  background-color: #ff6525;
}

.videoBtn .btn:hover {
  color: white;
  background-color: transparent;
  border-color: #f0eeed;
}

.videoBlock .row {
  color: white;
}

.videoBlock::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  background: #161b18;
  opacity: 0.8;
  z-index: 0;
}

.videoContent {
  font-family: var(--main-font);
}

.videoAboutSubtitle {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
}

.videoContent p {
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
}

.popupVideo {
  font-size: 17px;
  width: 104px;
  height: 104px;
  line-height: 104px;
  color: #11bb67;
  border-radius: 50%;
  background-color: azure;
}

.videoIcon a::before {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 80%;
  content: "";
  background-color: rgba(255, 255, 255, 0.4);
  animation: videoIconAnimation 2s linear infinite;
  z-index: -1;
  border-radius: 50%;
}

.videoIcon a::after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  height: 60%;
  content: "";
  transform: scale(2.5);
  border: 1px solid rgba(255, 255, 255, 0.472);
  animation: videoIconAnimation2 2s linear infinite;
  z-index: -1;
  border-radius: 50%;
}

.videoKite {
  right: -16%;
}

@keyframes videoIconAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(2.2);
    opacity: 0;
  }
}

@keyframes videoIconAnimation2 {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(2.2);
    opacity: 0;
  }
}

.parent:hover img {
  transform: scale(1.2);
  transition: 0.8s ease-in-out;
}
.greenColor {
  color: #11bb67;
}
.orangBackground {
  background-color: #ff6525;
}
