* {
    box-sizing: border-box;
}


:root {
    --color-primary: #11BB67;
    --color-secondary: #FF6525;
    --main-font: "DM Sans", sans-serif;
    --second-font: "Gloss and Bloom";
}

body {
    font-family: "DM Sans", sans-serif;
}

img {
    max-width: 100%;
}


.navbar-toggler {
    background-color: var(--color-primary);
    padding: 0.8rem 0.7rem;
}



/* End header */
/* start about us banner */



.mainBanner::before {
    background-color: #161b18;
    opacity: 0.84;
}




/* end about us banner */
/* main section */
.aboutThumbWrap img {
    border-radius: 15px;
}

.aboutThumbBox {
    margin-right: 30px;
}

.aboutThumb1 {
    margin-bottom: 30px;
}

.aboutThumb2 img {
    width: 100%;
    max-width: inherit;
}

.aboutTitleBox {
    margin-bottom: 3rem;
    font-family: var(--main-font);
    transition: 0.6s ease-in-out;
}

.aboutTitleBox .aboutTitle {
    font-family: var(--second-font);
    font-size: 18px;
    font-weight: 500;
    color: var(--color-secondary);
    margin-bottom: 15px;
    margin-top: 15px;
}

.aboutsubtitle {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -2px;
}

.about {
    padding: 100px 0;
}

.aboutTitleBox p {
    font-size: 17px;
}

.aboutCounterBox {
    font-family: var(--main-font);
    margin-bottom: 3rem;
}

.aboutCounterText {
    border-right: 1px dashed;
}

.aboutCounterNumber {
    font-size: 26px;
}

.aboutCounterText p {
    font-size: 16px;
    color: black;
    margin-bottom: 0;
}

.discoverBtn .btn {
    color: white;
    padding: 20px 30px;
    font-size: 15px;
    background-color: var(--color-primary);
    border-radius: 5px;
    font-weight: 500;
}

.discoverBtn .btn:hover {
    color: white;
    background-color: var(--color-secondary) !important;
    border-color: var(--color-secondary) !important;
}

.discoverBtn .btn span svg {
    margin-left: 10px;
}

/* start video banner */

/* end video banner */
/* start Why you choose us */
.chooseUs {
    padding: 120px 0;
    font-family: var(--main-font);
}

.chooseUsTitleBox span {
    font-family: var(--second-font);
    font-size: 18px;
    font-weight: 500;
    color: var(--color-secondary);
    margin-bottom: 15px;
}

.chooseUsTitle {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -2px;
}

.chooseUsTitleBox p {
    margin-bottom: 30px;
    margin-right: 50px;

}

.aboutService {
    margin-bottom: 40px;
}

.aboutServiceIcon {
    margin-bottom: 15px;
    margin-right: 20px;
}

.aboutServiceTitle {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -1px;
}

.aboutServiceDescription p {
    color: rgb(107, 107, 107)
}

.chooseUsThumb {
    transform: scale(0.9);
}

.chooseUsThumb img {
    max-width: 100%;
    border-radius: 5px;
}

/* end Why you choose us */
/* start footer */



.scrollTop {
    transition: 0.3s ease-in-out;
    display: none;
    position: fixed;
    bottom: 20px;
    pad: 15px;
    right: 10px;
    z-index: 99;
    border-radius: 50%;
    background-color: var(--color-primary);
    border: none;
}

.scrollTop i {
    padding: 5px 0;
    color: white;
}

.scrollTop:hover {
    background-color: var(--color-secondary);
}

/* end footer */
@keyframes videoIconAnimation {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(2.2);
        opacity: 0;
    }
}

@keyframes videoIconAnimation2 {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(2.2);
        opacity: 0;
    }
}

/*Media Queries*/


@media screen and (max-width: 395px) {
    .dropdownCompanyInfo>a {
        display: none;
    }
}


@media (max-width: 992px) {
    .navbar-collapse .navbar-nav {
        gap: 1rem !important;
        margin-top: 20px;
        margin-bottom: 20px !important;
    }

    .aboutThumb2 img {
        width: 100%;
    }

    .topBar .contactInfo {
        display: none;
    }
}


@media screen and (max-width: 576px) {
    .aboutThumbBox {
        margin-right: 0 !important;
    }

    .aboutCounterText {
        text-align: inherit;
    }

    .topBar .contactInfo span {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .topBar .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .topBar .socialIcons {
        margin-left: 0;
        padding-left: 0;
        justify-content: flex-start;
    }

    .topBar .contactInfo span {
        display: block;
        margin-bottom: 10px;
    }

    .fotCol2 {
        padding-left: 0px;
    }

    .aboutThumb1 img {
        width: 100%
    }

    .topBar .container {
        justify-content: space-between !important;
        flex-direction: row !important;
    }

    .aboutThumbBox {
        margin-right: 2rem;
    }

    .topBar .socialIcons {
        border-left: none !important;
    }

    .aboutThumbSingle img {
        margin-top: 10px;
        width: 100%;
    }

    .aboutCounterText {
        text-align: center;
    }

    .aboutCounterText p {
        margin-bottom: 1rem;
    }

    .aboutService {
        text-align: center;
    }

}



.dropdown-item:active {
    background-color: var(--color-primary);
}