body {
  font-family: Arial, sans-serif;
}

.balloon {
  position: absolute;
  top: 50px;
  left: 100px;
  height: 130px;
  width: 100px;
}

.star {
  position: absolute;
  top: 50px;
  right: 100px;
  height: 50px;
}

.textStyle {
  font-family: "Gloss And Bloom", sans-serif;
  color: #ff6525;
  font-weight: bold;
  margin-top: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.cardContainer {
  position: relative;
  margin-bottom: 20px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.cardContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardText {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-align: left;
  z-index: 2;
}

.cardText h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.cardText p {
  font-size: 14px;
  margin: 0;
}

.aboutPart {
  position: relative;
  padding: 80px 0;
  background-color: #f4f8f9;
  overflow: hidden;
}

.backgroundOverlay {
  position: absolute;
  bottom: 10px;
  left: 0;
  background-size: cover;
  opacity: 0.8;
  z-index: 0;
}

.backgroundImage {
  width: 100%;
  height: 200%;
}

.con {
  position: relative;
  z-index: 1;
}

.imageStack {
  position: relative;
  height: 500px;
}

.imageStack img {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.topImage {
  position: absolute;
  bottom: 130px;
  left: 17px;
  z-index: 3;
  width: 50%;
  height: 250px;
}

.middleImage {
  position: absolute;
  bottom: 275px;
  left: 217px;
  z-index: 2;
  width: 58%;
  height: 200px;
}

.bottomImage {
  position: absolute;
  bottom: 87px;
  left: 294px;
  z-index: 1;
  width: 40%;
  height: 200px;
}

.sectionTitle {
  font-weight: bold;
  font-size: 24px;
  color: #ff6525;
}

.mainTitle {
  font-size: 36px;
  font-weight: bold;
}

.description {
  margin-bottom: 20px;
}

.feature {
  margin-bottom: 20px;
}

.icons {
  border-radius: 50%;
  font-size: 20px;
  width: 70px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.iconName {
  font-weight: bold;
  font-size: 18px;
}

.btn {
  background-color: #ff6525;
  border: none;
}

.spacing {
  margin-left: 28%;
}

@media screen and (max-width: 750px) {
  .spacing {
    margin-left: 0;
  }

  .d-none {
    display: none !important;
  }
}

@media screen and (min-width: 751px) and (max-width: 992px) {
  .spacing {
    margin-left: 0;
  }

  .col-md-4 {
    flex: 0 0 30%;
    max-width: 100%;
  }
}
.greenBackground {
  background-color: #11bb67;
}
.iconsWhite {
  color: white;
}
.buttonHover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.buttonHover:hover {
  background-color: #11bb67;
  opacity: 1;
}
.translateValues {
  right: 10%;
  bottom: 38%;
}
@media screen and (max-width: 750px) {
  .translateValues {
    bottom: 40%;
  }
}
.orangColor {
  color: #ff6525;
}
