.balloonImage {
  position: absolute;
  top: 50px;
  left: 100px;
  height: 130px;
  width: 100px;
}

.starImage {
  position: absolute;
  top: 50px;
  right: 100px;
  height: 50px;
}

.topDestinations {
  font-family: "Gloss And Bloom", sans-serif;
  color: #ff6525;
  font-weight: bold;
  margin-top: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.cardWrapper {
  position: relative;
  margin-bottom: 20px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.cardWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardText {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-align: left;
  z-index: 2;
}

.cardText h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.cardText p {
  font-size: 14px;
  margin: 0;
}

.about {
  position: relative;
  padding: 80px 0;
  background-color: #f4f8f9;
  overflow: hidden;
}

.backgroundOverlay {
  position: absolute;
  bottom: 10px;
  left: 0;
  opacity: 0.8; /* Adjust opacity as needed */
  z-index: 0;
}

.backgroundImage {
  width: 100%;
}

/* Image stacking with proper positioning */
.imageStack {
  position: relative;
  height: 500px; /* Ensure proper height for stacking */
}

.imageStack img {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.topImage {
  position: absolute;
  bottom: 48px;
  left: -19px;
  z-index: 3;
  width: 50%;
  height: 240px;
  border: 5px solid white; /* Add a white border with 20px width */
  box-sizing: border-box; /* Ensure the border does not affect the image size */
  border-radius: 10px; /* Keeps the rounded corners consistent with the other images */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.middleImage {
  position: absolute;
  bottom: 200px; /* Adjust as needed */
  left: 0;
  width: 75%; /* Adjust width as necessary */
  border-radius: 10px;
}

.bottomImage {
  width: 100%;
  border-radius: 10px;
}

.sectionTitle {
  font-size: 24px;
  font-weight: bold;
  color: #ff6525;
}

.mainTitle {
  font-size: 36px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  line-height: 1.5;
}

.feature {
  margin-bottom: 20px;
}

.icon {
  flex-shrink: 0;
}

.iconName {
  font-size: 18px;
  font-weight: bold;
}
