/* .btn-primary:hover {
    border: 1px solid;
    --bs-btn-active-bg: white;
    --bs-btn-color: #11BB67;
    --bs-btn-border-color: #11bb67;
    background-color: whitesmoke;
    border-color: #11BB67 !important;
    color: #11BB67 !important;
}
 */
.modal-text {
    margin-bottom: 1rem;
    text-align: center;
}

.modal-dialog {
    width: fit-content !important;
    max-width: none;
}


.modal-content h4 {
    font-family: 'Gloss and bloom';
    text-align: center;
    margin: 2.5nrem 1rem 1rem 1rem;
    color: var(--color-secondary);
}

.modal-content span {
    text-align: center;
}

.modal-body {
    padding: 3rem 5rem 5rem 5rem;
}